
.countryInfo__container{
    display: flex;
    margin: 20px 0 ;
    padding: 15px;
   
  }
  
  .countryInfo{
    margin: 10px 0;
    color: #f4f6fa;
    height: fit-content;
  
    
    
  }


  
.MuiCardContent-root.countryInfo__cardContent{
    background: linear-gradient(#55bef3, #72f8ed);
    align-items: center;
  }
  
  .MuiCardContent-root.countryInfo__cardContent h2{
    color: azure;
  }
  
  .countryInfo img{
    width: 250px;
    border-radius: 5px;
  }
  
  .countryInfo h2{
    margin: 10px 0;
  }
  